<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>no work!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/check.css" %}">
  </head>
  <body>
    <div class="jumbotron special container">
      <h2 class="font-weight-light">You have no new project work!!</h2>
      <a  class="btn btn-success" href="{%  url 'logout' %}" role="button">Logout</a>
    </div>
  </body>
</html>
